<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <property name="LOG_DIR" value="/home/zhangchi/workspace/java/logs/gitblog" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %black(%d{HH:mm:ss.SSS}) [%blue(%thread)] %highlight(%-5level) %yellow(%logger{36}) - %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            ${LOG_DIR}/info.gitblog.log
        </file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_DIR}/info.gitblog.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="console"/>
    </root>

    <!-- 如果改成additivity="true"的话，就会打印两次，因为打印信息向上级传递，logger本身打印一次，root接到后又打印一次。
     并且如果在com.aiminglow.gitblog.dao的logger中没有设置rollingFile的appender的情况下，也会因为传递而在日志文件中出现这个包的debug信息-->
    <logger name="com.aiminglow.gitblog.dao" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>
</configuration>